<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Output logging -->
  <arg name="output" default="screen" doc="Where should nodes write log output to?"/>
  <arg name="ROSCONSOLE_FORMAT" default="${severity} ${time} ${node}: ${message}"/>
  <env name="ROSCONSOLE_FORMAT" value="$(arg ROSCONSOLE_FORMAT)"/>

  <remap from="/tf" to="tf"/>
  <remap from="/tf_static" to="tf_static"/>

  <include file="$(find nav_backpack)/launch/load.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" output="$(arg output)"
    args="-d $(find nav_backpack)/config/display_urdf.rviz"/>

</launch>
