<?xml version="1.0"?>

<model>
  <name>Cloud Land</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tom Molnar</name>
    <email>tom.molnar@data61.csiro.au</email>
  </author>

  <description>
    A simple terrain created from the cloud render in gimp via heightmap
  </description>
</model>
